* {
    height: auto;
    width: auto;
    /* background-color:#fff; */
}

header {
    position: sticky;
    top: 0px;
    opacity:0.9;
    z-index: 5;
}

.navbar {
    /* display: border-box; */
    /* margin: auto; */
    background-color: white;
    z-index: 2;
    /* position: sticky;
    top: 1px; */
    box-shadow: 0px -3px 14px black;
    width: 1583px;
    height: 60px;
}

.navul {
    /* background-color: white; */
    display: flex;
}

.navul li {
    list-style-type: none;
}

/* .nav-li {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
} */

.navul a {
    text-decoration: none;
    color: black;
    font-family: var(--font-sofia-pro);
    font-size: 13px;
    font-weight: 500;
}

.icon {
    /* align-self: center; */
    font-size: 28px;
    padding-left: 271px;
    padding-right: 557px;
    font-weight: 500;
}

.icon img {
    height: 29px;
    width: 58px;
}

.slider {
    margin-top: 5px;
    margin-left: 254px;
}

.slider img {
    width: 1100px;
    height: 274.75px;
}

.card {
    box-sizing: border-box;
    /* background-color: lightyellow; */
    height: 160px;
    width: 245px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 15px 0 rgb(0 0 0 / 18%);
    /* border: 2px solid black; */
    margin: auto;
}

.card-div {
    display: flex;
    width: 1140px;
    height: 210px;
    margin: auto;
    margin-bottom: 28px;
}

.card img {
    width: 196px;
    height: 55.28px;
    margin-top: 34px;
    margin-bottom: 33px;
    margin-left: 25px;
    margin-right: 10px;
    /* align-items: center; */
}

.card div {
    background: #f1f1f1;
    height: 45.7px;
    width: 245px;
    margin-left: -0.02px;
    border-bottom-left-radius: 20px;
    z-index: 3;
}

.btital {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    margin: 11px;
}

.tital {
    width: 1140px;
    height: 63px;
    margin: 34px auto auto auto;
}

.tital p {
    padding: 20px;
    font-size: 30px;
    color: #39464E;
    font-weight: 450;
}

.card2-div {
    display: flex;
    width: 1140px;
    height: 370px;
    margin: auto;
}

.card2 {
    box-sizing: border-box;
    /* background-color: lightyellow; */
    height: 306.5px;
    width: 245px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 15px 0 rgb(0 0 0 / 18%);
    /* border: 2px solid black; */
    margin: auto;
}

.card2 img {
    width: 245px;
    height: 160px;
    /* margin-top: 34px;
    margin-bottom: 33px;
    margin-left: 19px;
    margin-right: 10px; */
    /* align-items: center; */
}

.price {
    height: 100.84px;
    width: 245px;
}

.pprice {
    margin-top: 8px;
}

.cname {
    margin-right: 42px;
    margin-left: 26px;
    color: #39464e;
    font-weight: 640;
    font-size: 20px;
}

.cprice {
    background-color: #e4feeb;
    /* border: 0.5px solid green; */
    color: #389f56;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.sname {
    color: #a0a6aa;
    font-size: 12px;
    margin-left: 26px;
}

.fname {
    font-size: 16px;
    color: #181717;
    margin-left: 26px;
}

#more {
    font-size: 18px;
    font-family: Roboto;
    color: #39464E;
    opacity: 0.7;
    padding: 7px 20px 0px 20px;
}

.bottom-tital {
    background: #f1f1f1;
    height: 45.7px;
    width: 245px;
    margin-left: -0.02px;
    border-bottom-left-radius: 20px;
    padding-top: 1px;
    z-index: 3;
}

.btital {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    margin: 11px;
}

.footer {
    width: 1583px;
    height: 292.59px;
    display: flex;
    padding: 40px 40px 20px 40px;
    line-height: 1.7;
    border-top: 1px solid #dedede;
}

.footer1 {
    width: 306.47px;
    height: 231.59px;
}

.footer2 {
    width: 1196.53px;
    height: 231.59px;
    display: flex;
    padding-top: 12px;
    /* padding-left: 71px; */
}

.footer-logo {
    width: 230px;
    height: 69.19px;
}

.footer1 span {
    color: #696969;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: flex-start; */
    /* justify-content: start; */
    font-size: 11pt;
    text-decoration: none;
    /* margin-bottom: 10px; */
}

.footer1 span span {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;

}

.footer1 span a {
    color: #696969;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: flex-start; */
    /* justify-content: start; */
    font-size: 11pt;
    text-decoration: none;
    /* margin-bottom: 10px; */
}

.footer1 span img {
    width: 12px;
    height: 17.88px;
}

.footer-social {
    width: 306.47px;
    height: 44.8px;
    margin-top: 35px;
    display: flex;
}

.footer-social img {
    width: 38px;
    height: 38px;
}

.footer2 ul {
    list-style: none;
    line-height: 1.5;
    margin-left: 132px;
}

.footer2 ul li {
    color: #308d46;
    font-size: 13.5pt;
    font-weight: 650;
    padding-bottom: 10px;
}

.footer2 ul a {
    font-size: 10pt;
    text-decoration: none;
    color: #696969;
}

.footer-strip {
    width: 1583px;
    height: 40px;
    background-color: #308d46;
    padding-left: 40px;
}

.footer-strip div {
    padding-top: 8px;
}

.footer-strip a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}